body {
  position: relative;
}
#background-image {
  background-image: url(/assets/images/jason-dent-SnXIF8_2oPw-unsplash.jpg);
  background-size: cover;
  height: 50vh;
  filter: blur(6px);
}
#sub-body {
  z-index: 2;
  position: absolute;
  top: 5px;
}
