body {
  position: relative;
}
#background-image {
  background-image: url("../images/jason-dent-SnXIF8_2oPw-unsplash.jpg");
  background-size: cover;
  width: 100%;
  /* filter: blur(4px); */
  /* height: 60vh; */
}
.header-container {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3em;
}
#header {
  justify-self: flex-end;
}
img {
  max-width: 100%;
}
#logo {
  width: 8em;
  height: 6em;
  align-self: flex-start;
  justify-self: center;
}
nav {
  width: 100%;
}
form {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
form label {
  color: #fff;
  font-size: 1.5em;
  margin-right: 1em;
}
form input {
  margin-left: 1em;
}
.slider-text {
  position: absolute;
  right: 0;
  bottom: 0;
}

body {
  position: relative;
}

img {
  width: 75%;
}

header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#logo-container {
  width: 10em;
}
ul {
  border: 1px solid red;
  width: 100%;
}
li {
  color: white;
  list-style: none;
}
a {
  color: white;
}
form {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testing {
  width: 284px;
}

#movie-header,
#tv-header {
  font-family: "Lilita One", cursive;
  font-size: 25px;
}

.slider-item {
  width: 284px;
}

.slider-item img {
  width: 284px;
}

.slider-container {
  width: 2328px;
}
#watch-list {
  background-color: rgb(22, 22, 22);
  margin: 0 auto;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 1em;
}
.card img {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.3em;
  box-shadow: 3px 2px 9px grey;
}
figure {
  display: flex;
  flex-direction: column-reverse;
}
figure button {
  margin: 0 auto;
  margin-top: 0.3em;
  width: 80%;
}
#wishlist-heading {
  margin-bottom: 2em;
}
.icon {
  width: 2em;
  height: fit-content;
}
.iconColumn {
  display: flex;
  justify-content: space-evenly;
}
