/* Body */
body {
  position: relative;
}
#background-image {
  background-image: url("../images/jason-dent-SnXIF8_2oPw-unsplash.jpg");
  background-size: cover;
  filter: blur(4px);
  height: 60vh;
}
.header-container {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3em;
}
#header {
  justify-self: flex-end;
}
img {
  max-width: 100%;
}
#logo {
  width: 8em;
  height: 6em;
  align-self: flex-start;
  justify-self: center;
}
nav {
  width: 100%;
}
.slider-text {
  position: absolute;
  right: 0;
  bottom: 0;
}

#slider .card-content {
  max-width: 50%;
}

#slider {
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  #slider .card-content {
    display: none;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 350px;
}

.caption-container {
  color: white;
}

