body {
  position: relative;
}
#background-image {
  background-image: url("../images/jason-dent-SnXIF8_2oPw-unsplash.jpg");
  background-size: cover;
  width: 100%;
  /* filter: blur(4px); */
  /* height: 60vh; */
}
.header-container {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3em;
}
#header {
  justify-self: flex-end;
}
img {
  max-width: 100%;
}
#logo {
  width: 8em;
  height: 6em;
  align-self: flex-start;
  justify-self: center;
}
nav {
  width: 100%;
}
.show-heading,
.color {
  background-color: hsl(0, 0%, 21%);
}
main {
  background-color: hsl(0, 0%, 21%);
}
#form {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#form label {
  color: #fff;
  font-size: 1em;
  margin-right: 1em;
}
#form input {
  margin-left: 1em;
}
.slider-text {
  position: absolute;
  right: 0;
  bottom: 0;
}

body {
  position: relative;
}

img {
  width: 75%;
}

header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#logo-container {
  width: 10em;
}
/* ul {
  border: 1px solid red;
  width: 100%;
} */
li {
  color: white;
  list-style: none;
}
a {
  color: white;
}

#movie-header,
#tv-header {
  font-family: "Lilita One", cursive;
  font-size: 30px;
  margin-left: 15px;
  padding-top: 15px;
  color: white;
}

.slider-item {
  width: 284px;
}

.slider-item img {
  width: 284px;
  border-radius: 5px;
}

.slider-container {
  width: 2328px;
}
#watch-list {
  background-color: hsl(0, 0%, 21%);
  margin: 0 auto;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 1em;
}
.card img {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.3em;
  box-shadow: 3px 2px 9px grey;
}
figure {
  display: flex;
  flex-direction: column-reverse;
}
figure button {
  margin: 0 auto;
  margin-top: 0.3em;
  width: 80%;
}
#wishlist-heading {
  margin-bottom: 2em;
}
.icon {
  width: 2em;
  height: fit-content;
}
.iconColumn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* /* Body 
body {
  position: relative;
}
#background-image {
  background-image: url("./images/jason-dent-SnXIF8_2oPw-unsplash.jpg");
  background-size: cover;
  filter: blur(4px);
  height: 60vh;
}
.header-container {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3em;
}
#header {
  justify-self: flex-end;
}
img {
  max-width: 100%;
}
#logo {
  width: 8em;
  height: 6em;
  align-self: flex-start;
  justify-self: center;
}
nav {
  width: 100%;
}
.slider-text {
  position: absolute;
  right: 0;
  bottom: 0;
}

#slider .card-content {
  max-width: 50%;
}

#slider {
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  #slider .card-content {
    display: none;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 350px;
}

.caption-container {
  color: white;
}
 */
